<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6KLCSQ0V1H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-6KLCSQ0V1H');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>FootData</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="container">
            <h1>FootData</h1>
        </nav>
    </header>
    

    <div class="container mt-5">
        <input type="text" id="searchBar" placeholder="Busque por juiz, time, estádio..." class="form-control mb-4">
    
        <!-- Botões de Filtro -->
        <div class="btn-group mb-4" role="group" aria-label="Filtro de Resultados">
            <button id="filterHomeWin" class="btn btn-primary">Casa Venceu</button>
            <button id="filterAwayWin" class="btn btn-primary">Fora Venceu</button>
            <button id="filterDraw" class="btn btn-primary">Empates</button>
            <button id="clearFilter" class="btn btn-secondary">Limpar Filtros</button>
        </div>
    
        <div class="matches-container">
            {% for match in matches %}
            <div class="match-card" data-toggle="modal" data-target="#matchDetails"
                data-home="{{ match[0] }}"
                data-away="{{ match[1] }}"
                data-score="{{ match[2] }}"
                data-stadium="{{ match[3] }}"
                data-date="{{ match[4] }}"
                data-referee="{{ match[5] }}"
                data-yellow="{{ match[6] }}"
                data-red="{{ match[7] }}">
                <h5>{{ match[0] }} vs {{ match[1] }}</h5>
                <p><strong>Placar:</strong> {{ match[2] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>    

    <!-- Modal -->
    <div class="modal fade" id="matchDetails" tabindex="-1" role="dialog" aria-labelledby="matchDetailsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="matchDetailsLabel">Detalhes da Partida</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Time da casa:</strong> <span id="homeTeam"></span></p>
                    <p><strong>Time de fora:</strong> <span id="awayTeam"></span></p>
                    <p><strong>Placar:</strong> <span id="score"></span></p>
                    <p><strong>Estádio:</strong> <span id="stadium"></span></p>
                    <p><strong>Data:</strong> <span id="date"></span></p>
                    <p><strong>Juiz:</strong> <span id="referee"></span></p>
                    <p><strong>Cartões amarelos:</strong> <span id="yellowCards"></span></p>
                    <p><strong>Cartões vermelhos:</strong> <span id="redCards"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Tela de carregamento -->
    <div id="loading-screen">
        <div class="spinner"></div>
        <p>Carregando... Por favor, aguarde.</p>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#matchDetails').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget);

                var home = button.data('home');
                var away = button.data('away');
                var score = button.data('score');
                var stadium = button.data('stadium');
                var date = button.data('date');
                var referee = button.data('referee');
                var yellow = button.data('yellow');
                var red = button.data('red');

                var modal = $(this);
                modal.find('#homeTeam').text(home);
                modal.find('#awayTeam').text(away);
                modal.find('#score').text(score);
                modal.find('#stadium').text(stadium);
                modal.find('#date').text(date);
                modal.find('#referee').text(referee);
                modal.find('#yellowCards').text(yellow);
                modal.find('#redCards').text(red);
            });
        });

        document.getElementById('searchBar').addEventListener('input', function() {
        var filter = this.value.toLowerCase();
        var matchCards = document.querySelectorAll('.match-card');

        matchCards.forEach(function(card) {
            var homeTeam = card.getAttribute('data-home').toLowerCase();
            var awayTeam = card.getAttribute('data-away').toLowerCase();
            var stadium = card.getAttribute('data-stadium').toLowerCase();
            var referee = card.getAttribute('data-referee').toLowerCase();

            if (homeTeam.includes(filter) || awayTeam.includes(filter) || stadium.includes(filter) || referee.includes(filter)) {
                card.style.display = "";
            } else {
                card.style.display = "none";
            }
        });
    });

$(document).ready(function() {
    function showAllMatches() {
        $('.match-card').each(function() {
            $(this).show();
        });
    }

    function filterMatches(filterType) {
        $('.match-card').each(function() {
            var score = $(this).data('score');
            var [homeScore, awayScore] = score.split('-').map(Number);

            if (filterType === 'homeWin' && homeScore > awayScore) {
                $(this).show();
            } else if (filterType === 'awayWin' && homeScore < awayScore) {
                $(this).show();
            } else if (filterType === 'draw' && homeScore === awayScore) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    $('#filterHomeWin').click(function() {
        filterMatches('homeWin');
    });

    $('#filterAwayWin').click(function() {
        filterMatches('awayWin');
    });

    $('#filterDraw').click(function() {
        filterMatches('draw');
    });

    $('#clearFilter').click(function() {
        showAllMatches();
    });
});

    window.addEventListener('load', function() {
            const loadingScreen = document.getElementById('loading-screen');
            loadingScreen.style.display = 'none';
        });

    </script>
</body>
</html>
